body {
  background-image: url("../media/pattern-bg/norwegian.png");
  background-repeat: repeat;
}

.bg-body-light-transparent {
  background-color: rgb(246 247 248 / 80%)!important;
}

.back-button {
  margin-right: 10px;
}

.custom-file-label::after {
  content: 'Pilih Dokumen';
}

/* .block-file, .block-assign {
  position: sticky;
  height: auto;
  display: block;
}

.block-file {
  top: 70px;
}

.block-assign {
  top: 220px;
} */

.side-container {
  position: sticky;
  display: block;
  top: 64px;
}

/* Data Table container */
.dataTables_wrapper {
  overflow: auto;
  width: 100%;
}

.dataTables_wrapper > * {
  margin: 0;
}

/* Select2 Clear single */
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  position: absolute;
  right: 22px;
}

/* Block Task */
.timeline-file .block-header {
  padding-top: 0;
  /* padding-bottom: 0; */
}

.timeline-file .block-header,
.timeline-file .block-content {
  padding-left: 0;
  padding-right: 0;
}

.timeline-file .block-title small {
  display: block;
  line-height: 1rem;
}

.timeline-file p.block-title {
  font-weight: normal;
  text-transform: none;
}

.clamp {
  display: -webkit-box!important;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.clamp-1 {
  display: -webkit-box!important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.clamp-2 {
  display: -webkit-box!important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.clamp-3 {
  display: -webkit-box!important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.clamp-5 {
  -webkit-line-clamp: 5;
}


/* Helper */
.text-bold {
  font-weight: bold;
}

.bg-alt-danger {
  background-color: #f4bebe;
}

.break-all {
  word-break: break-all;
}

/* Handling xxl for temporary */
@media (min-width: 1400px) {
  .col-xxl-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
}
/* Handling xxl for temporary */
@media (min-width: 768px) {
  .dropdown-menu.dropdown-menu-lg {
    min-width: 350px;
  }
}