.back-button {
  margin-right: 10px;
}

.custom-file-label::after {
  content: 'Pilih File';
}

/* .block-file, .block-assign {
  position: sticky;
  height: auto;
  display: block;
}

.block-file {
  top: 70px;
}

.block-assign {
  top: 220px;
} */

.side-container {
  position: sticky;
  display: block;
  top: 64px;
}

/* Data Table container */
.dataTables_wrapper {
  overflow: auto;
}

/* Select2 Clear single */
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  position: absolute;
  right: 22px;
}